<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h4>Completed Registration Documents</h4>
    </div>
  </div>
  <app-completed-documents></app-completed-documents>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h4>Application Documents</h4>
    </div>
  </div>
  <app-requisition-application></app-requisition-application>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h4>Requisition Messages</h4>
    </div>
  </div>
  <app-requisition-message></app-requisition-message>
</div>
