<ul class="nav nav-tabs mt-40">
    <li class="active"><a data-toggle="tab" href="#sdlt1"> SDLT 00</a></li>
    <li><a data-toggle="tab" href="#sdlt2"> SDLT 2</a></li>
    <li><a data-toggle="tab" href="#sdlt3"> SDLT 3</a></li>
    <li><a data-toggle="tab" href="#sdlt4"> SDLT 4</a></li>
  </ul>

  <div class="tab-content">
    <div id="sdlt1" class="tab-pane fade in active">

      <app-sdlt-one></app-sdlt-one>
    </div>
    <div id="sdlt2" class="tab-pane fade"> 
      <h3>SDLT 100</h3>
    </div>
    <div id="sdlt3" class="tab-pane fade">
      <h3>SDLT 2</h3>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
    </div>
    <div id="sdlt4" class="tab-pane fade">
      <h3>SDLT 3</h3>
      <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
    </div>
  </div>

